<!DOCTYPE html>
<html>
  <head>
    <title>JS Quiz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link id="css" rel="stylesheet" href="static/css/main.css" />
  </head>
  {% if "user" in session.keys() %}
  <body>
    <div id="react-entry" data-user="true" data-username="{{session["user"]}}" data-id="{{session["user_id"]}}">
    </div>
    <script src="static/js/bundle.min.js"></script>
  </body>
  {% else %}
  <body>
    <div id="react-entry" data-user="false">
    </div>
    <script src="static/js/bundle.min.js"></script>
  </body>
  {% endif %}
</html>
