<!DOCTYPE html>
<html>
  <head>
    <title>JS Quiz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link id="css" rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <header>
      <h2>&lt;code-quiz&gt;</h2>
      {% if "user" in session.keys() %}
      <div data-user="true" data-username="{{session["user"]}}" data-id="{{session["user_id"]}}" id="user-icon-wrapper">
      </div>
      {% else %}
      <div data-user="false" id="user-icon-wrapper">
      </div>
      {% endif %}
    </header>
    <main>
      <div id="quiz">

      </div>
    </main>
    <script src="static/js/bundle.min.js"></script>
  </body>
</html>
